<md-dialog aria-label="Edit" style="width: 60%;">

    <md-dialog-content>
        <div>
            <form ng-submit="editMobile(mobile)" autocomplete="off">
                <p class="mobilesHeader">Edit Mobile</p>
                <div class="specificationWrap">
                    <label for="mobileName">Name</label>
                    <input type="text" id="mobileName" ng-model="mobile.mobileName" value={{name}} >
                </div>
                <div class="specificationWrap">
                    <label for="mobileModel">Model</label>
                    <input type="text" id="mobileModel" ng-model="mobile.mobileModel">
                </div>
                <div class="specificationWrap">
                    <label for="mobileColor">Color</label>
                    <input type="text" id="mobileColor" ng-model="mobile.mobileColor">
                </div>
                <div class="specificationWrap">
                    <label for="mobileCost">Cost</label>
                    <input type="text" id="mobileCost" ng-model="mobile.mobileCost">
                </div class="specificationWrap">
                <div class="specificationWrap">
                    <label for="mobileBattery">Battery</label>
                    <input type="text" id="mobileBattery" ng-model="mobile.mobileBattery">
                </div>
                <div class="specificationWrap">
                    <label for="mobilePrimaryCamera">Primary Camera</label>
                    <input type="text" id="mobilePrimaryCamera" ng-model="mobile.mobilePrimaryCamera">
                </div>
                <div class="specificationWrap">
                    <label for="mobileSecondaryCamera">Secondary Camera</label>
                    <input type="text" id="mobileSecondaryCamera" ng-model="mobile.mobileSecondaryCamera">
                </div>
                <div class="specificationWrap">
                    <label for="mobileMemory">Memory</label>
                    <input type="text" id="mobileMemory" ng-model="mobile.mobileMemory">
                </div>
                <div class="checkvalid">{{mobileStatus}}</div>
                <div class="specificationWrap text-center" style="margin-bottom: 20px;">
                    <input type="submit" class="addMobileSubmit" id="mobileMemory">
                </div>
            </form>
        </div>
    </md-dialog-content>
    <!-- <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="answer('not useful')">
            Close
        </md-button>
        <md-button ng-click="answer('useful')" class="md-raised md-primary">
            Save
        </md-button>
    </md-dialog-actions> -->
</md-dialog>