<div class="registerContent">
    <div>
            <p class="mobilesHeader">Register</p>
            <!-- <h3 ng-click="go_to_login()">Login</h3> -->
            
    </div>
    
    <form ng-submit="registerUser(user)" autocomplete="off">
        <div class="regWrap">
            <!-- <label for="registerEmail">Email</label><br> -->
            <input type="text" id="registerEmail" ng-model="user.registerEmail" placeholder="Email">
        </div>
        <div class="regWrap">
            <!-- <label for="registerPassword">Password</label><br> -->
            <input type="password" id="registerPassword" ng-model="user.registerPassword" placeholder="Passowrd">
        </div>
        <p class="checkvalid">{{signupStatus}}</p>
        <div class="regWrap">
            <input class="btn" type="submit" value="Register"  style="width: 220px;margin-left: 0;">
        </div>
        <p>click here to <span ng-click="go_to_login()" style="text-decoration: underline">Login</span></p>
    </form>
   
</div>